<footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <%- include('footer-contact.ejs') %>

                    <!-- Footer Widget Area -->
                    <%- include('footer-politics.ejs') %>

                    <!-- Footer Widget Area -->
                    <%- include('footer-featured.ejs') %>

                    <!-- Footer Widget Area -->
                    <%- include('footer-faq.ejs') %>

                    <!-- Footer Widget Area -->
                    <%- include('footer-more.ejs') %>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <%- include('footer-bottom.ejs') %>
    </footer>