<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<%- include('partials/head-links.ejs') %>
</head>
<body>
	<%- include('partials/header-full.ejs') %>

	<%- include('partials/hero-banners') %>

	<%- include('partials/top-featured-post') %>

    <%- include('partials/top-side-news') %>



	<%- include('partials/scripts.ejs') %>
</body>
</html>