<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<%- include('partials/head-links') %>
</head>
<body>
	<%- include('partials/header-full') %>
	<%- include('partials/hero-banners') %>


	<%- include('partials/footer-full') %>

	<%- include('partials/scripts') %>
</body>
</html>