<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <%- include('partials/head-links')%>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include('partials/header-full') %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <%- include('partials/hero-banners') %>
    <!-- ##### Hero Area End ##### -->

    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <!-- ##### Featured Post Area Start ##### -->
                <div class="featured-post-area">
                        <div class="container">
                            <div class="row">
                                <!-- MAIN CONTENT -->
                                <%- include('partials/top-featured-post') %>
                                <!-- MAIN CONTENT END -->
                
                                <!-- SIDE NEWS -->
                                <%- include('partials/top-side-news') %>
                                <!-- SIDE NEWS END -->
                            </div>
                        </div>
                    </div>
                <!-- ##### Featured Post Area End ##### -->
                
                <!-- ##### Popular News Area Start ##### -->
                <div class="popular-news-area section-padding-80-50">
                    <div class="container">
                        <div class="row">
                            <%- include('partials/popular-news') %>

                            <%- include('partials/info') %>
                        </div>
                    </div>
                </div>
                <!-- ##### Popular News Area End ##### -->
            </div>
        </div>
    </div>


    <!-- ##### Video Post Area Start ##### -->
    <%- include('partials/videos') %>
    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <%- include('partials/editors-pick') %>

    <!-- ##### Editorial Post Area End ##### -->

    <!-- ##### Footer Add Area Start ##### -->
    <%- include('partials/footer-ad') %>
    <!-- ##### Footer Add Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include('partials/footer-full') %>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <%- include('partials/scripts') %>
</body>

</html>